asgiref==3.11.1
boto3==1.43.40
botocore==1.43.40
Django==6.0.6
django-ckeditor==6.7.3
django-js-asset==4.0.1
django-storages==1.14.6
jmespath==1.1.0
pillow==12.2.0
psycopg2-binary==2.9.12
pymupdf==1.28.0
python-dateutil==2.9.0.post0
python-decouple==3.8
s3transfer==0.19.0
six==1.17.0
sqlparse==0.5.5
urllib3==2.7.0
